@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./menu.scss";
@import "./components.scss";

@import '@fortawesome/fontawesome-free/css/all.min.css';



@keyframes text-slide-5 {
    0%, 16% {
        transform: translateY(0%);
    }
    20%, 36% {
        transform: translateY(-16.66%);
    }
    40%, 56% {
        transform: translateY(-33.33%);
    }
    60%, 76% {
        transform: translateY(-50%);
    }
    80%, 96% {
        transform: translateY(-66.66%);
    }
    100% {
        transform: translateY(-83.33%);
    }
}

.animate-text-slide-5 {
    animation: text-slide-5 12.5s cubic-bezier(0.83, 0, 0.17, 1) infinite;
}


.text-accent {
    color: var(--color-accent, #ff5733);
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
